.container {
    // background-color: #0E63CA;
    // background: linear-gradient(261.2deg, #98C3F8 37.67%, #DEECFE 93.86%);
    background: rgb(0,124,243);
// background: radial-gradient(circle, rgba(0,124,243,1) 0%, rgba(58,77,185,1) 99%);
background: radial-gradient(circle, rgb(0, 83, 130) 0%, rgb(24 15 85) 99%);
    width: 100%;
  }
  .title{
    color: white;
  }