.title{
    color: white;
}
.logo{
    width: 80px;
}

.titleDrawer{
    color: #092730;
}

.titleDemo{
    color: #ffffff;
    background: #D63163;
    padding: 7px 14px;
    border-radius: 80px;

}


